#slidorion,
#slider {
	width: 800px;
	height: 600px;
}

#slider img {
	width: 100%;
	height: 100%;
}

#accordion {
	position: absolute;
	top: 40px;
	left: 40px;
}


/*
 * You should be setting these styles in the Slidorion.css stylesheet
 * This is only here for demostration purposes
*/
#accordion,
#accordion .link-header,
#accordion .link-content {
	background: rgba(17,17,17,0.3) !important;
	color: #EEE;
}

#accordion .link-header.active {
	background: rgba(0,0,0,0.8) !important;
}