/*

	Stylesheet for Slidorian
	
*/
#slidorian {
	width:768px;					/* Set to slidorian width. Is equal to #slider + #accordian width */
    height:400px;					/* Set to slidorian height. Is equal to #slider and #accordian height */
	position:relative;
	left:50%;
	margin-left:-384px;
	padding:10px;
	background:#cbcbcb;
	border:1px solid #bbb;
	box-shadow:0 0 34px #bbb;
}
#slider {
    width:488px;					/* Set to slider width */
    height:400px;					/* Set to slider height */
	position:relative;
	float:left;
	overflow:hidden;				/* Overflow hidden to hide the effects */
}
.slider-image {
	position:relative;
}
.slider-image img {
    width:488px;					/* Set to image width */
    height:400px;					/* Set to image height */
	position:absolute;
}
#accordian {
    width:280px;					/* Set to accordian width */
    height:400px;					/* Set to image height */
    font-family:Verdana;
    background: #eee;
	-webkit-box-shadow:-3px 0px 3px -1px rgba(51,51,51,0.3);
	position:relative;
	float:left;
	overflow:hidden;
}
#accordian div.header {
    color: #333;
	background: -webkit-linear-gradient(top, #EDEDED 0%,#DCDCDC 100%);
	border:none;
	border-top:1px solid #ccc;
	text-indent:15px;
	border-radius:0;
}
#accordian div.header a {
    padding:8px 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
#accordian div.header a:hover {
    background-color: #ededed;
}
#accordian div.header a.selected {
	border-bottom:none;
    background-color:#676767;
	color:#fff;
}
#accordian div.content {
    height:272px;					/* This height needs to be changed as it depends on the accordian height and number of tabs */
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 16px;
	border:none;
	background: -webkit-linear-gradient(top, #D6D6D6 0%,#FFFFFF 10%);
}
.ui-accordion .ui-accordion-header { margin-top:0 !important; }					/* Removes marign that accordian sets */