/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	MAIN STYLES
*/

body, html {
	background:#ededed;
	height:100%;
	line-height:20px;
	font-size:14px;
	color:#333;
	font-family: 'Arial', sans-serif;
	font-weight:normal;
}
h1, h2, h3 { font-family: 'Yanone Kaffeesatz', sans-serif; font-weight:bold; }
h1 {
	font-size:90px;
	text-shadow:0 0 1px rgba(51,51,51,0.3);
	text-align:center;
	line-height:90px;
}
h2 {
	font-size:36px;
	line-height:36px;
	text-shadow:0 0 1px rgba(51,51,51,0.2);
	padding-bottom:5px;
	margin-bottom:15px;
	border-bottom:1px solid #ccc;
}
h3 {
	font-family: “Myriad Pro”, Arial, Helvetica, Tahoma, sans-serif;
	font-size:20px;
	line-height:26px;
	font-weight:400;
	letter-spacing:-1px;
	font-weight:normal;
}
a.link, a:active, a:selected {
	border:none;
	outline:none;
}
#header {
	width:1000px;
	height:120px;
	margin:20px auto;
}
#accordion p {
	line-height:18px;
}
#accordion div.content > a {
    cursor:pointer;
    display:block;
    font-weight: bold;
    font-size: 12px;
	margin-top:20px;
    color: #333;
	border:none;
}
#container {
	width:800px;
	margin:30px auto;
}
#container > div {
	width:100%;
	margin-bottom:40px;
	float:left;
	clear:both;
}
#container > div > pre { 
	background:#E2DBD1;
	border:1px solid #D1BFA6;
	color:#333;
	font-family: “Myriad Pro”, Arial, Helvetica, Tahoma, sans-serif;
	margin-bottom:20px;
	padding: 5px 10px;
	border-left: 10px solid #D1BFA6;
}
#options li {
	margin:20px 0;
	border-bottom:1px solid #ddd;
}
#options li p {
	font-size:15px;
	letter-spacing:0;
	line-height:30px;
}
#download-box {
	width:170px;
	position:fixed;
	right:50px;
	top:160px;
	padding:10px;
	background: #ebf1f6;
	background: -moz-linear-gradient(top, #ebf1f6 0%, #cbdfed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(100%,#cbdfed));
	background: -webkit-linear-gradient(top, #ebf1f6 0%,#cbdfed 100%);
	background: -o-linear-gradient(top, #ebf1f6 0%,#cbdfed 100%);
	background: -ms-linear-gradient(top, #ebf1f6 0%,#cbdfed 100%);
	background: linear-gradient(top, #ebf1f6 0%,#cbdfed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#cbdfed',GradientType=0 );
	border-radius:4px;
	border:1px solid #bbb;
}
#download-box p, #download-box h3 {
	text-align:center;
	font-weight:bold;
	letter-spacing:0px;
	margin:15px 0;
	font-size:100%;
	line-height:20px;
}
#download-box p {
	font-size:80%;
}
.download {
	text-indent:-9999px;
	margin-left:15px;
	background:url(../img/download_buttons.png) 0 -2px no-repeat;
	width:140px;
	height:50px;
	display:block;
	overflow:hidden;
}
.download:hover {
	background-position:0 -51px;
}
#download-box .social-media {
	width:54px;
	height:70px;
	vertical-align: top;
	display:inline-block;
}
.changes {
	margin-bottom:15px;
}
#footer {
	height:200px;
}








